{
  "tabWidth": 2,
  "useTabs": false,
  "semi": false,
  "singleQuote": true,
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "printWidth": 100,
  "trailingComma": "all",
  "endOfLine": "auto",
  "importOrder": ["^react(.*)$", "<THIRD_PARTY_MODULES>" , "^@/(.*)$" , "^./(.*)$"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
